<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>The site is currently in maintenance mode</h1>

        <p>Please return later for any updates</p>

        {{> footer}}
    </body>
</html>


